
button {
  padding: 4px 15px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.ex-btn {
  color: white;
  border: 2px solid;
}

.ex-btn-default {
  color: black;
  background-color: #eee;
  border-color: #aaa;
}

.ex-btn-warning {
  background-color: crimson;
  border-color: darkgreen;
}

.ex-btn-success {
  background-color: seagreen;
  border-color: green;
}

